@model IEnumerable<Kickoff4Kids420.Models.ActivityTransaction>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Activity Name
        </th>
        <th>
            Activity Date
        </th>
        <th>
            Points Earned
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.PointValue)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ActivityTransactionId })
            </td>
        </tr>
    }

</table>


