@{
    ViewBag.Title = "ConfirmationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Confirmation Token accepted*@
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Confirmation Success</h1>
    </div>
</div>
<div class="container">
   
    
        <p>You have registered successfully!     Please login to verfiy your account.</p>
    
</div>
