@model Kickoff4Kids420.ViewModels.ResetPasswordConfirmationViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Forgot Password</h1>
    </div>
</div>
<div class="container">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <ul style="list-style-type: none; margin-left:-40px">
                <li>
                    @Html.Label("User Name", new { @for = "UserName" })
                    @Html.TextBox("UserName", "", new { @class = "required" })

                    <span style="color:red;">@ViewBag.message</span>
                </li>
            </ul>
            <p>
                <input class="btn-u btn-u-red" type="submit" value="Recover" />
            </p>
        </fieldset>
    }
</div>