@{
    ViewBag.Title = "Password Reset Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Reset Successful</h1>
    </div>
</div>
<div class="container">

    <p class="lead">Password has successfully been reset. Please login to verfiy your account!</p>
</div>