@{
    ViewBag.Title = "PasswordSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Password Sent</h1>
    </div>
</div>
<div class="container">
    <p class="lead">Please follow the instructions in your email to reset your account password.</p>
</div>

