@{
    ViewBag.Title = "RegisterStepTwo";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Complete Your Registration</h1>
    </div>
</div>
<div class="container">
<p class="lead">Please follow the instructions in your email to complete your registration for Kickoff4Kids House!</p>
</div>

