@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>

</hgroup>

<section class="contact">
    <body>
        <div class="container">

            </br>
            </br>

            <p>Executive Director: Henry Dibrell</p>
            <p>Email: H.Dibrell@amobiokoyefoundation.org</p>
            <p>Office Phone: 281-398-4201</p>
            <p>Office Fax: 281-398-4211</p>
            <p>Address: 1832 Snake River Road, Katy Tx 77449</p>
            <p>For information email Info@amobiokoyefoundation.org</p>
    </body>
    </div>
    @*<header>
                <h3>Phone</h3>
            </header>
            <p>
                <span class="label">Office:</span>
                <span>281-398-4201</span>
            </p>
            <p>
                <span class="label">Fax:</span>
                <span>281-398-4211</span>
            </p>
        </section>

        <section class="text-center contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span class="label">Support:</span>
                <span><a href="mailto:Support@example.com">Support@example.com</a></span>
            </p>*@
    @*<p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>*@
    @*</p>*@
    @*</section>

        <section class="text-center contact">
            <header>
                <h3>Address</h3>
            </header>
            <p>
                1832 Snake River Road<br />
                Katy, Tx 77449
            </p>
        </section>*@
