@{
    ViewBag.Title = "Gallery";
}
<div class="container">
    <iframe src="http://snapwidget.com/in/?u=a2lja29mZjRraWRzfGlufDMxNXwzfDN8fG5vfDV8ZmFkZUlufG9uU3RhcnR8eWVz&v=281013" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:960px; height: 960px"></iframe>
</div>