@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Kickoff 4 Kids</h1>
    <p class="lead">Blah Blah</p>
    <p><a href="" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>K4K Info here</h2>
        <p>Blah Blah </p>
        <p><a class="btn" href="">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>K4K is awesome</h2>
        <p>Blah Blah</p>
        <p><a class="btn" href="">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Check KFK out</h2>
        <p>Blah Blah</p>
        <p><a class="btn" href="http://www.amobiokoyefoundation.org/wp-kick4kids/services/kickoff-4-kids-house">Go to K4K Site &raquo;</a></p>
    </div>
</div>