@{
    ViewBag.Title = "Privacy";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Privacy Policy</h1>
    </div>
</div>
<div class="container">
    <p class="lead">
        This privacy policy sets out how Kick-off 4 Kids uses and protects any information that you give Kick-off 4 Kids when you use this website.
        Kick-off 4 Kids is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website,
        then you can be assured that it will only be used in accordance with this privacy statement.
    </p>

    <h3>What we collect</h3>

    <p> We may collect the following information:</p>

    <p> Name, date of birth, and high school </p>

    <p>
        Contact information such as your home address, phone number, and email address.
        This allows us to contact you if needed when delivering a reward.
    </p>

    <p>
        We may periodically send promotional email about new products, special offers or other information
        which we think you may find interesting using the email address which you have provided.
    </p>

    <p> We may use the information to customize the website according to your interests.</p>

    <p> We will never sell your information.</p>

    <h3> Security</h3>

    <p>
        We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure
        we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
    </p>

    <p> Please never provide login information to other students or faculty members to ensure your account and personal information is safe.</p>

    <h3> How we use Cookies</h3>

    <p>
        A cookie is a small file which asks permission to be placed on your computer's hard drive.
        Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site.
        Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs,
        likes and dislikes by gathering and remembering information about your preferences.
    </p>

    <p>
        Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not.
        A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
    </p>

    <p>
        You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer.
        This may prevent you from taking full advantage of the website.
    </p>

    <h3> Links to other websites</h3>

    <p>
        Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website.
        Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement.
        You should exercise caution and look at the privacy statement applicable to the website in question.
    </p>

</div>
