@model String[]
@{
    
    ViewBag.Title = "Roles";
}

<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left"> Create User Roles</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-red">
        <div class="panel-heading">
            <h2 class="panel-title">New Role</h2>
        </div>
        <div class="panel-body">

            <ul>
                @foreach (var role in Model)
                {
                    <li>@role</li>
                }
            </ul>



            @using (Html.BeginForm("AddRole", "Roles"))
            {


                <div class="margin-bottom-10">

                    <label>Add Role</label>
                    <input type="text" name="rolename" />
                </div>
                <div class="margin-bottom-10">
                    <input class="btn-u btn-u-red" type="submit" value="Add" />
                </div>

            }
            <p>
                @Html.ActionLink("Home", "Users", "Roles")

            </p>


        </div>
    </div>
</div>