<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kickofftesting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KickoffTesting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KickoffTesting</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Kickoff4Kidsdb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:z1y9r5fvu6.database.windows.net,1433;Initial Catalog=Kickoff4Kidsdb;User ID=Kickoff4Kidsdb@z1y9r5fvu6;Password=Kickoff420" Name="Data Source=tcp:z1y9r5fvu6.database.windows.net,1433;Initial Catalog=Kickoff4Kidsdb;User Id=Kickoff4Kidsdb@z1y9r5fvu6;Password=Kickoff420" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kickoff4Kids420.Models.Kickoff4KidsDb, Kickoff4Kids420" MigrationConfiguration="Kickoff4Kids420.Migrations.Configuration, Kickoff4Kids420" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Kickoff4Kidsdb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:z1y9r5fvu6.database.windows.net,1433;Initial Catalog=Kickoff4Kidsdb;User Id=Kickoff4Kidsdb@z1y9r5fvu6;Password=Kickoff420</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>